* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-6 {
  width: 50%;
  padding: 0 10px;
}

.col-3 {
  width: 25%;
  padding: 0 10px;
}

.title {
  font-family: Roboto;
  font-weight: 600;
  font-size: 64px;
  line-height: 100%;
}

.header {
  padding: 30px 0;
}

.header-nav {
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hedaer-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #000000;
  text-decoration: none;
}

.btn-black {
  color: #fffafa;
  background-color: black;
  padding: 10px 30px;
  border: 1px solid black;
  cursor: pointer;
  transition: 0.5s;
}

.btn-black:hover {
  background-color: #fffafa;
  color: black;
}

section {
  padding: 70px 0;
}

.banner-title {
  margin-top: 50px;
}

.banner-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  margin: 30px 0;
}

.projects-hr {
  margin: 40px 0;
}

.projects-col-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 30px;
}

.projects-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
  row-gap: 30px;
}

.projects-text-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
}

.projects-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  width: 260px;
}

.projects-btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  border: 1px solid #6d6c6c;
  background-color: transparent;
  cursor: pointer;
  padding: 10px 28px;
  border-radius: 10px;
}

.project-btn:hover {
  background-color: #000000;
  color: #ffffff;
  transition: 0.5s;
}

.projects-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #6d6c6c;
  display: block;
  margin-top: 40px;
  text-align: center;
}

.projects-img {
  width: 100%;
}

.contacts-form {
  margin-top: 100px;
  width: 60%;
}

.contacts-form-input {
  width: 100%;
  border: none;
  padding: 20px 0;
  border-bottom: 1px solid #6d6c6c;
}

.contacts-form-btn {
  margin-top: 60px;
}

.contacts-form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #6d6c6c;
}

.contacts-img {
  width: 100%;
}

.footer {
  background-color: #101010;
  padding: 60px 0;
}

.footer a {
  text-decoration: none;
}

.footer-link {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  color: gray;
  display: block;
  margin-bottom: 15px;
}

.footer-logo {
  margin-right: 15px;
  width: 40px;
  height: 40px;
}
.mobile-btn {
  display: none;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .banner-title {
    margin-top: 0;
  }
  .col-6 {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .row {
    row-gap: 10px;
  }
  .mobile-btn {
    display: flex; 
    align-items: center;
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
    z-index: 10;
  }
  .mobile-btn span::before,
  .mobile-btn span,
  .mobile-btn span::after {
    content: "";
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    background-color: #000000;
  }
  .mobile-btn span::before {
    top: -15px;
  }
  .mobile-btn span::after {
    bottom: -15px;
  }
  .header {
    position: relative;
  }
  .header::before {
    content: "";
    background-color: #fffafa;
    width: 100%;
    height: 100%;
    /* display: block; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
  }
  .header-logo{
    position: relative;
    z-index: 10;
  }
  .header-menu{
    display: flex;
  }
  .header-nav{
    position: absolute;
    width: 100%;
    left: 0 ;
    z-index: 5;
    right: 0;
    justify-content: center;
    border-top: 1px solid black;
    padding: 15px 0;
    transition: all 0.5s;
    top: 0;
    flex-wrap: wrap;
    row-gap: 10px;
    background-color: #fffafa;
  }
  .header-nav-active{
    top: 100px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
  .title{
    font-size:18px ;
  }
}
